<div class="app">
  <div id="top-banner" class="top-banner">
    <div class="nav-bar">
      <nav>
        <a href="#top-banner">Home</a>
        <a href="#about-us">About Us</a>
        <h2>THE EMPOURIUM</h2>
        <a href="#beers">Beers</a>
        <a href="#contact">Contact Us</a>
      </nav>
    </div>
    <div class="tagline">
      <h1>Let the good times pour</h1>
      <button onClick="document.getElementById('about-us').scrollIntoView();">
        Discover The Empourium
      </button>
    </div>
  </div>

  <div id="about-us" class="about-us">
    <div class="about-us-text">
      <h2>ABOUT US</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae
        architecto, quasi in dolor odio molestias illo magni quidem eius
        inventore ducimus quibusdam amet tempora, autem voluptates, illum quae
        recusandae? Dolore.
      </p>
      <button onClick="document.getElementById('beers').scrollIntoView();">
        Check Out Our Beers
      </button>
    </div>
    <img src="../assets/keg.png" alt="" />
  </div>

  <div id="beers" class="beers">
    <h2>OUR WORLD CLASS BEERS</h2>
    <select id="dropdown-filter" name="beer-filter" [(ngModel)]="filterValue">
      <option value="1">All</option>
      <option value="2">ABV >= 7</option>
      <option value="3">ABV < 7</option>
      <option value="4">IBU >= 40</option>
      <option value="5">IBU < 40</option>
    </select>
    <div class="beers-content">
      <div
        class="beer-div"
        *ngFor="let beer of listBeers | beerFilter: filterValue"
      >
        <div class="more-info">
          <h2>{{ beer.name }}</h2>
          <h3>{{ beer.tagline }}</h3>
          <p>{{ beer.description }}</p>
        </div>

        <h2 class="beername">{{ beer.name }}</h2>
        <p class="abv-ibu">
          {{ "ABV:  " + beer.abv + "   |   " + "IBU:  " + beer.ibu }}
        </p>
        <img class="bottle-image" src="{{ beer.image_url }}" />
      </div>
    </div>
  </div>

  <div id="contact">
    <img src="../assets/beer-tap.png" alt="" />
    <div class="contact-form">
      <form action="action_page.php">
        <h2>Contact us for more info</h2>
        <label for="fname">First Name</label>
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="Your name.."
        />

        <label for="lname">Last Name</label>
        <input
          type="text"
          id="lname"
          name="lastname"
          placeholder="Your last name.."
        />

        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Email Address"
        />

        <label id="subject" for="subject">Subject</label>
        <textarea
          id="subject"
          name="subject"
          placeholder="Write something.."
          style="height:200px"
        ></textarea>

        <input id="submit-contact" type="submit" value="Submit" />
      </form>
    </div>
  </div>

  <footer>
    <h3>© The Empourium LLC. 2020</h3>
  </footer>
</div>
